body{
    margin: 0;
    padding: 0;
    font-family : Verdana, Geneva, Tahoma, sans-serif;
}

header
{
    height: 75vh;
    background: url(../webfonts/fa-solid-900.woff2);
    background-position: center;
    background: #111;
    color: #fff;
    text-align: center;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

header nav a{
    margin: 10px;
    color: #bababa;
    text-decoration: none;
}

header nav a:hover{
    color: #fff;
    border-bottom: 2px double #7c7b7b;
}

header .principale{
    margin-top: 40px;
}

header .principale h4{
    margin-top: -20px;
    padding: 20px;
}

.partie1{
    background: #131a23;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.partie1 .gauche{
    width: 60%;
    /* text-align: center; */
    margin-right: 10px;
}

@media screen and (max-width: 810px) {
    .partie1 .gauche{
        width: 100%;
    }
    .partie1 .droite{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.offre{
    padding: 30px;
    background: url("SharedScreenshot.jpg");
    background-position: center;
    color: rgb(102, 240, 208);
}

.offre h1, .offre p{
    text-align: center;
}

.offre .offre-carte{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.offre .offre-carte .carte{
    background: #fff;
    color: rgb(169, 32, 227);
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
}

.partenaire{
    padding-top: 20px;
    background-color: #222f3e;
    padding-bottom: 30px;
    color: #fff;
}

.partenaire h3{
    text-align: center;
}

.partenaire .partenaire-image{
    display: flex;
    overflow-x: auto;
    margin: 10px;
    margin-top: -30px;
}

@media screen and (min-width: 1040px) {
    .partenaire .partenaire-image{
        overflow-x: hidden;
    }
}
.partenaire .partenaire-image p{
    margin: 30px;
}

footer {
    background-color: #18212b;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .image-socio {
    display: flex;
}

footer .image-socio p {
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 25px;
    cursor: pointer;
}
