body{
    margin: -25px;
    padding: 0;
}

header {
    height: 100vh;
    background-color: rgb(243, 117, 75);
    background-position: center;
    position: center;
    color: #ffffff;
    text-align: center;
}

header nav{
    background-color: rgb(0, 60, 255);
}

header nav h1{
    border: 5px solid rgb(206, 7, 7);
    padding-bottom: 8px;
    padding-top: 8px;
}

header .partie{
    display: flex;
    flex-wrap: wrap;
}

header .partie img{
    justify-content: ;
}